:host {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  height: 100vh;
  width: 100vh;
}

h1 {
  margin: 0;
  padding: 1em;
}

.overlay-content {
  // height: 100%;
  // width: 100%;
}

.mat-icon {
  color: #ffffff;
}
